
th {
    vertical-align: top !important;
}

.navbar .brand {
    font-weight: bold;
    color: #666666 !important;
}

legend {
    font-weight: bold;
    color: #666666 !important;
}

.listQuotes {
    margin: 30px 0;
}
.quote {
    margin-bottom: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.quote:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
.quote blockquote:hover {
    border-left: 5px solid rgb(238, 238, 238);
}
.quote blockquote {
    margin-bottom: 10px;
}
.quote blockquote p {
    color: #134e86;
    font-family: 'Libre Baskerville', serif;
    font-size: xx-large;
}
