
th {
    vertical-align: top !important;
}

.navbar .brand {
    font-weight: bold;
    color: #666666 !important;
}

legend {
    font-weight: bold;
    color: #666666 !important;
}

/* RatingWidget */
.btn-starred {
    background-color: #fff700;
}
